.img {
    filter: grayscale(100%);
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img:hover {
    filter: grayscale(0%);
}
.lecture-workshop-container-main-title{
    text-align: center;
}
.lecture-workshop-bg-dark{
    padding-top: 60px;
    padding-bottom: 60px;
}
.lecture-workshop-bg{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 60px;
}
.lecture-workshop-center {
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.text-center {
    font-size: max(62px, calc(9vw - 120px));
    padding-top: 80px;
    text-align: center;
}
.text-center-paragraph {
    font-size: x-large;
    padding-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .lecture-workshop-center {
        max-width: 90%;
    }

}

.lecture-workshop-bg img,
.lecture-workshop-bg-dark img
{
    width: 100%;
    filter: grayscale(100%) opacity(80%);
}

.lecture-workshop-bg img:hover,
.lecture-workshop-bg-dark img:hover {
    filter: grayscale(0%);
}

.lecture-workshop-bg p {
    color: black;
}

.lecture-workshop-bg a {
    color: black;
    text-decoration: underline;
}