@import "https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/dark/main.css";

*:focus {
 outline: 0;
}

[contenteditable] {
 outline: 0px solid transparent;
}

* {
 box-sizing: border-box;
}

:root {
 /* --mainBGColor: #282c34; */
 --mainBGColor: #282c34;
 --mainFontColor: rgb(127, 127, 127);
 --mainHoverColor: #00bdbd;
 
 --secondBGColor: #fff;
 
 --fontSize: 25px;
 
 /* --font-family: ''; */
}

body{
 background: var(--mainBGColor);
 color: var(--mainFontColor);

 font-family: 'Source Sans Pro';
 
 /* font-family: var(--font-family); */
}

.bg-second {
 background: var(--secondBGColor);
}

a {
 text-decoration: none;
 color: var(--mainFontColor);
}

a:hover {
 color: var(--mainHoverColor);
}

li {
 padding-top: 6px;
 padding-bottom: 6px;
}
/* width */
::-webkit-scrollbar {
 width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #454953;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #00bdbd;
}
.text-center h1 {
  padding-left: 50px;
  padding-right: 50px;
} 

.fa {
 font-size: 48px;
 color: white;
}
.fa-menu {
 font-size: 15px;
 color: var(--mainFontColor);
 padding-right: 3px;
}
.fa-menu:hover {
 color: var(--mainHoverColor);
}

.icon {
 padding-right: 25px;
}

.copyright{
 margin-bottom: 100px;
}
h1 {
 font-size: 50px;
 text-transform: uppercase;
}
h4 {
 padding-top: 40px;
 font-size: 28px;
}
/** reset */
figure, figcaption {
 padding: 0;
 margin: 0;
}

.markdown-padding{
 padding-top: 40px;
 padding-bottom: 70px;

}
.markdown-text-area {
 width: max(55%, 500px);
}
.markdown-bg-light{
 background-color: #fff;
}
.markdown-bg-dark{
 background: var(--mainBGColor);
}

.class-index{
 padding-bottom: 0px;
 margin-bottom: 0px;
 font-size: 50px;
}


/* ---------------------------- */

.title {
 margin-top: 20px;
 margin-bottom: 50px;
 font-size: max(62px, calc(13vw - 120px));
 text-transform: uppercase;
 font-stretch: condensed;
 color:#fff;

}
.title-sub {
 margin-top: 40px;
 font-size: 32px;
 font-weight: normal;
 text-transform: uppercase;
 font-stretch: condensed;
 color:#aaa;
}
@media (max-width: 768px) {
 .title {
   /* font-size: 65px; */
   font-size: max(48px, calc(3vw));
   padding-top: 20px;
 }

}
.content-title {
 font-size: max(62px, calc(5vw - 120px));
 padding-top: 50px;
}
.content-sub-title {
 padding-top: 15px;
 font-size: max(32px, calc(5vw - 120px));
 padding-bottom: 10px;
}
.content-text {
 padding-bottom: 10px;
}

@media (max-width: 768px) {
 .content-title {
   /* font-size: 65px; */
   font-size: max(50px, calc(5vw - 120px));
   padding-top: 50px;
 }

}